# Review: Datos del Reto 1

**Fecha:** 14/02/2024

In [3]:
#pip install pandas seaborn

In [44]:
#pip install scikit-learn

In [33]:
#pip install torch torchvision --index-url https://download.pytorch.org/whl/cu118

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\MI30743\AppData\Local\Temp\1\ipykernel_33796\1285016483.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [21]:
x_train_ids = pd.read_csv("./data/Datos-del-Reto-I/x_train_ids.csv", sep=';')
x_test_ids = pd.read_csv("./data/Datos-del-Reto-I/x_test_ids.csv", sep=';')
y_train_ids = pd.read_csv("./data/Datos-del-Reto-I/y_train_ids.csv",sep=',')

In [22]:
x_train_ids.head()

                           images  Unnamed: 1  Unnamed: 2
0  AE00474_105028_00_4_3_2001.jpg         NaN         NaN
1  AE00305_043057_00_2_4_2001.jpg         NaN         NaN
2  AE00191_071651_00_2_2_2001.jpg         NaN         NaN
3  AE00191_103659_00_2_1_2001.jpg         NaN         NaN
4  AE00227_204647_00_3_4_2001.jpg         NaN         NaN

In [23]:
x_train_ids.images.describe()

count                              10609
unique                             10609
top       AE00474_105028_00_4_3_2001.jpg
freq                                   1
Name: images, dtype: object

In [24]:
x_test_ids.head()

                           images
0  AE00022_095817_00_1_1_2001.jpg
1  AE00382_081204_00_3_4_2001.jpg
2  AE00281_235123_00_2_1_2001.jpg
3  AE00408_051313_00_4_4_2001.jpg
4  AE00379_034020_00_1_2_2001.jpg

In [25]:
y_train_ids

                               images  labels
0      AE00474_105028_00_4_3_2001.jpg       0
1      AE00305_043057_00_2_4_2001.jpg       1
2      AE00191_071651_00_2_2_2001.jpg       1
3      AE00191_103659_00_2_1_2001.jpg       1
4      AE00227_204647_00_3_4_2001.jpg       1
...                               ...     ...
10604  AE00453_220334_00_4_1_2001.jpg       0
10605  AE00409_050952_00_4_2_2001.jpg       0
10606  AE00466_013823_00_1_3_2001.jpg       0
10607  AE00405_043052_00_1_4_2001.jpg       0
10608  AE00502_162243_00_4_2_2001.jpg       0

[10609 rows x 2 columns]

In [30]:
y_train_ids["labels"].value_counts()

labels
1    6582
0    4027
Name: count, dtype: int64

In [31]:
y_train_ids["labels"].value_counts(normalize=True)

labels
1    0.620417
0    0.379583
Name: proportion, dtype: float64

Ahora revisemos que no hay imagenes de uno contenido en el otro

In [35]:
len([x for x in y_train_ids.images if x in x_test_ids.images])

0

In [36]:
len([x for x in x_test_ids.images if x in y_train_ids.images])

0

Revisamos los elementos de la carpeta 1:

In [40]:
# Muestra elegida al azar
examples_folder_1 = [
    "AE00018_031805_00_3_3_2001.jpg", 
    "AE00008_143414_00_1_1_2001.jpg", 
    "AE00461_172932_00_2_1_2001.jpg"
    ]

y_train_ids.query("images in @examples_folder_1")

                              images  labels
337   AE00018_031805_00_3_3_2001.jpg       0
4057  AE00461_172932_00_2_1_2001.jpg       0
7486  AE00008_143414_00_1_1_2001.jpg       0

Hacemos lo mismo para la otra carpeta

In [42]:
# Muestra elegida al azar
examples_folder_2 = [
    "AE00018_132240_00_3_1_2001.jpg", 
    "AE00018_151341_00_2_1_2001.jpg", 
    "AE00498_115449_00_1_4_2001.jpg"
    ]

y_train_ids.query("images in @examples_folder_2")

                              images  labels
938   AE00018_132240_00_3_1_2001.jpg       1
1161  AE00018_151341_00_2_1_2001.jpg       1
3780  AE00498_115449_00_1_4_2001.jpg       1

Conclusiones:

* label 0 -> carpeta 1
* label 1 -> carpeta 2